.nav-logo {
    display: none;
}

.nav-link>strong {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #152322;
}

@media only screen and (max-width: 600px) {
    .nav-logo {
        display: block;
    }
    .nav-bar {
        display: none;
    }
}