.explore-content{
    position: relative;
}
.explore{
    background-color: rgba(249, 248, 242, 0.9);;
    position: absolute;
    width: 730px;
    height: 400px;
    /* left: 50px; */
    top: 150px; 
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}

.outline-btn{
    font-size: 18px;
    color: #29BFB3;
    border: 1.5px solid #29BFB3;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 20px;
    margin-right: 10px;
}
.book-btn{
    background: #29BFB3;
    border-radius: 6px;
    font-size: 18px;
    color: #F9F8F2;
    outline:none;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
}
.rectangle-img1{
    width: 280px;
    position: absolute;
    z-index: 22;
}
.rectangle-img{
    position: relative;
    width: 280px;
    left: 25.46%;
    top: 46.16%;
    z-index: 0;
}
.transportation{
    margin-top: 60px !important;
}
@media only screen and (max-width: 600px) {
    .explore {
        position: absolute;
        width: 100%;
        /* height: 171px; */
        padding: 10px;
        top: 80px;
    }
    .explore h4 {
        margin-top: 0 !important;
        font-size: 28px;
        line-height: 36px;
    }
    .explore p{
        margin-top: 0 !important;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
    }
    .explore h3{
        margin-top: 0 !important;
        font-size: 28px;
        line-height: 36px;
    }
    .explore-btn, .explore-btn button{
        display:block !important;
        margin-top: 10px;
        width:100%
    }
    .place-content{
        display:none !important
    }
    .rectangle-img1{
        width: 250px;
    }
    .rectangle-img{
        position: relative;
        width: 250px;
        left: 15.46%;
        top: 26.16%;
        z-index: 0;
    }
    .explorePlace-img{
        height:450px
    }
    .bookDirect{
        text-align: center;
    }
    .bookDirect-content h5{
        font-weight: bold;
        color: black;
        text-align: center;
    }
}